.btn-primary {
  --bs-btn-bg: #3563E9;
  --bs-btn-border-color: #3563E9;
}

.bg-primary {
  --bs-bg-primary: #3563E9;
}

.text-primary {
  color: #3563E9 !important;
}

@media screen and (min-width: 1400px) {
  .container-xxl {
    max-width: min(100%, 1440px);
  }
}

.p-4 {
  padding: 2rem !important;
}

.px-4 {
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.py-4 {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

*::-webkit-scrollbar-track {
  background: #C3D4E9;
}

*::-webkit-scrollbar-thumb {
  background: #90A3BF;
  border-radius: 5px;
  border: 1px solid transparent;
}

html,
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  color: #1A202C;
  background: #f6f7f9;
}

.container-xxl {
  margin: 0 auto;
  background: #FFFFFF;
}

header .navbar-toggler {
  height: 40px;
  width: 40px;
  margin-bottom: 30px;
  border: 2px solid transparent;
  color: #3D5278;
  font-size: 32px;
  transition: 0.3s;
}
header .navbar-toggler:focus {
  border: 2px solid #90A3BF;
}
header .search {
  height: 44px;
}
header .search input {
  border: 1px solid rgba(195, 212, 233, 0.4);
  border-radius: 70px !important;
  font-size: 14px;
  font-weight: 500;
  color: #1A202C;
}
header .search input::placeholder {
  color: #3D5278;
}
header .search input::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
header .search .bi {
  color: #3D5278;
  font-size: 24px;
  z-index: 10;
}
header .nav {
  column-gap: 20px;
}
header .nav .nav-link {
  width: 44px;
  height: 44px;
  color: #3D5278;
  border: 1px solid rgba(195, 212, 233, 0.4);
}
header .nav .nav-link:hover {
  background: rgba(209, 236, 252, 0.3882352941);
}
header .nav .nav-link .red-dot {
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background: #ED3F3F;
}

main .sidebar {
  width: 360px;
  border-right: 1px solid #f3f5f7;
  row-gap: 56px;
}
main .sidebar .btn-close {
  font-size: 1.5rem;
}
main .sidebar .filter .title {
  font-size: 0.75rem;
  color: #94a7cb;
  margin-bottom: 28px;
}
main .sidebar .filter .list {
  list-style-type: none;
  row-gap: 32px;
}
main .sidebar .filter .filter-item {
  font-size: 1.25rem;
  color: #3D5278;
}
main .sidebar .filter .filter-item input:checked {
  background-color: #3563E9;
  border-color: #3563E9;
}
main .sidebar .filter .filter-item span {
  color: #90A3BF;
}
main .sidebar .filter .range input::-webkit-slider-runnable-track {
  height: 12px;
  background: #C3D4E9;
}
main .sidebar .filter .range input::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border: 3px solid #FFFFFF;
  background: #3563E9;
}
main .content {
  width: 100%;
  background: #f6f7f9;
  gap: 32px;
}
main .content .preview {
  gap: 2rem;
}
main .content .preview .images {
  row-gap: 24px;
}
main .content .preview .images .bg {
  width: 100%;
  height: 100%;
  padding: 24px;
  background-size: cover;
  background-position: center;
}
main .content .preview .images .bg .title {
  font-weight: 600;
  font-size: 32px;
  color: #FFFFFF;
  max-width: 89%;
}
main .content .preview .images .bg .description {
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
}
main .content .preview .images__item {
  width: 125px;
  height: 125px;
  border: 0 solid #3563E9;
  transition: 0.3s;
  cursor: pointer;
}
main .content .preview .images__item .bg {
  padding: 0 6px;
}
main .content .preview .images__item .bg .text {
  display: none;
}
main .content .preview .images__item.active {
  border: 2px solid #3563E9;
  padding: 8px !important;
}
main .content .preview .images__item.active .bg {
  border-radius: inherit;
}
main .content .preview .info {
  padding: 24px 24px 32px;
}
main .content .preview .info__header .title {
  font-size: 32px;
  font-weight: 700;
  color: #1A202C;
}
main .content .preview .info__header .reviewer {
  font-size: 14px;
  font-weight: 500;
  color: #3D5278;
}
main .content .preview .info__description {
  margin: 32px 0;
  font-weight: 400;
  font-size: 20px;
  line-height: 200%;
  letter-spacing: -0.02em;
  color: #3D5278;
}
main .content .preview .info__specification {
  font-size: 20px;
  line-height: 25px;
  row-gap: 1rem;
  margin-bottom: 4rem;
}
main .content .preview .info__specification .name {
  font-weight: 400;
  color: #90A3BF;
  text-align: start;
}
main .content .preview .info__specification .value {
  font-weight: 600;
  color: #3D5278;
  text-align: end;
}
main .content .preview .info__rent .price .primary {
  font-weight: 700;
  font-size: 28px;
  line-height: 35px;
  color: #1A202C;
}
main .content .preview .info__rent .price .secondary {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #90A3BF;
}
main .content .preview .info__rent .button {
  width: 140px;
  height: 56px;
  font-size: 17px;
  font-weight: 700;
  color: #FFFFFF;
}
main .content .reviews {
  padding: 24px;
}
main .content .reviews__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  margin-bottom: 32px;
}
main .content .reviews__title .badge {
  width: 44px;
  height: 28px;
  font-size: 14px;
  font-weight: 700;
  margin-left: 12px;
}
main .content .reviews__list {
  list-style: none;
  row-gap: 24px;
}
main .content .reviews__btn {
  width: fit-content;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #90A3BF;
}
main .content .reviews__btn .bi {
  transition: 0.15s;
}
main .content .reviews__btn[aria-expanded=false] .bi {
  transform: rotate(0deg);
}
main .content .reviews__btn[aria-expanded=false]::before {
  content: "Show All";
}
main .content .reviews__btn[aria-expanded=true] .bi {
  transform: rotate(180deg);
}
main .content .reviews__btn[aria-expanded=true]::before {
  content: "Hide All";
}
main .content .reviews .review__image {
  width: 56px;
  height: 56px;
}
main .content .reviews .review__header {
  margin-bottom: 12px;
}
main .content .reviews .review__author .name {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
main .content .reviews .review__author .position {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #90A3BF;
}
main .content .reviews .review__data .date {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #90A3BF;
}
main .content .reviews .review__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  color: #3D5278;
}
main .content .catalogue__links {
  height: 44px;
}
main .content .catalogue__links .link {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #90A3BF;
}
main .content .catalogue__cards {
  gap: 32px;
}
main .content .catalogue .card {
  height: 380px;
  padding: 24px;
  flex-shrink: 0 !important;
  flex-basis: 0 !important;
}
main .content .catalogue .card__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
main .content .catalogue .card__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #90A3BF;
}
main .content .catalogue .card__specification {
  margin: 40px 0 32px;
}
main .content .catalogue .card__specification .specification {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #90A3BF;
}
main .content .catalogue .card__rent .price {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
}
main .content .catalogue .card__rent .price span {
  font-size: 14px;
  line-height: 18px;
  color: #90A3BF;
}
main .content .catalogue .card__rent .button {
  width: 116px;
  height: 44px;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
}

footer {
  --gray-footer: rgba(19, 19, 19, 0.6);
  --dark-footer: #131313;
}
footer .container-xxl {
  padding: 80px 60px 60px;
  background: inherit;
}
footer .brand .text {
  max-width: 292px;
  font-weight: 500;
  font-size: 16px;
  line-height: 200%;
  color: var(--gray-footer);
}
footer .links {
  gap: 48px 60px;
}
footer .links__list {
  width: 152px;
}
footer .links__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  color: var(--dark-footer);
}
footer .links__item {
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  color: var(--gray-footer);
  cursor: pointer;
}
footer .links__item:not(:last-child) {
  margin-bottom: 1em;
}
footer .links__item:hover {
  filter: drop-shadow(1px 1px 1px #90A3BF);
}
footer hr {
  background-color: var(--dark-footer);
  margin-top: 60px;
}
footer .bottom-text {
  font-weight: 600;
  font-size: 16px;
  line-height: 200%;
  margin-bottom: 0;
  color: var(--dark-footer);
}
footer .bottom-text a {
  color: inherit;
  text-decoration: none;
}
footer .bottom-text a:hover {
  filter: drop-shadow(1px 1px 1px #90A3BF);
}
footer .bottom-links {
  column-gap: 68px;
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: #3563E9;
}

.button {
  cursor: pointer;
  transition: 0.35s;
}
.button:active {
  scale: 0.8;
}

.heart-icon {
  font-size: 17px;
  color: #ED3F3F;
  cursor: pointer;
  transition: 0.35s;
}
.heart-icon:active {
  transform: scale(1.2);
}
.heart-icon.bi-heart {
  color: #90A3BF;
}

.stars {
  display: inline-flex;
  list-style: none;
  gap: 5px;
}
.stars .bi {
  cursor: pointer;
}
.stars .bi-star-fill {
  color: #fbad39;
}
.stars .bi-star {
  color: #C3D4E9;
}

@media screen and (max-width: 1399px) {
  main .sidebar {
    width: 210px;
  }
  main .sidebar .filter .filter-item {
    font-size: 1rem;
  }
  main .content .preview .images__item {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 1199px) {
  main .sidebar {
    width: 50% !important;
  }
  main .sidebar .filter .filter-item {
    font-size: 1.25rem;
  }
}
@media screen and (max-width: 991px) {
  header > .container-xxl {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  header .search input {
    border-radius: 10px !important;
  }
  header .search .bi-sliders {
    position: static !important;
    width: 48px;
    height: 48px;
    line-height: 44px;
    border: 1px solid rgba(195, 212, 233, 0.4);
    text-align: center;
    transform: none !important;
  }
  main .content {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }
  main .content .images__preview {
    height: 415px;
  }
  main .content .images__list {
    gap: 20px;
  }
  main .content .catalogue__cards {
    overflow-x: auto;
    margin: 0 -24px;
  }
  main .content .catalogue__cards::-webkit-scrollbar {
    display: none;
  }
  main .content .catalogue__cards .card {
    flex-basis: 300px !important;
  }
  main .content .catalogue__cards .card:first-child {
    margin-left: 20px;
  }
  main .content .catalogue__cards .card:last-child {
    margin-right: 20px;
  }
  footer .container-xxl {
    padding: 12px 24px 40px;
  }
  footer .links__list {
    width: unset;
  }
}
@media screen and (max-width: 767px) {
  header .navbar-toggler {
    width: 25px;
    height: 25px;
    margin-bottom: 25px;
    font-size: 20px;
  }
  header .nav .nav-link {
    width: 28px;
    height: 28px;
  }
  header .nav .nav-link img {
    vertical-align: baseline;
  }
  main .sidebar {
    width: 75% !important;
  }
  main .sidebar .filter .filter-item {
    font-size: 1rem;
  }
  main .sidebar .btn-close {
    font-size: 1rem;
  }
  main .content .preview .images__preview {
    height: 235px;
  }
  main .content .preview .images__preview img {
    height: 100px;
  }
  main .content .preview .images .bg .title {
    font-size: 16px;
  }
  main .content .preview .images .bg .description {
    font-size: 12px;
  }
  main .content .preview .info {
    padding: 16px;
  }
  main .content .preview .info__header .title {
    font-size: 20px;
  }
  main .content .preview .info__header .reviewer {
    font-size: 12px;
  }
  main .content .preview .info__description {
    margin: 16px 0;
    font-size: 12px;
    line-height: 20px;
  }
  main .content .preview .info__specification {
    font-size: 12px;
    margin-bottom: 2rem;
  }
  main .content .preview .info__specification .name {
    font-weight: 500;
  }
  main .content .preview .info__rent .price .primary {
    font-size: 20px;
  }
  main .content .preview .info__rent .price .secondary {
    font-size: 12px;
  }
  main .content .preview .info__rent .button {
    font-size: 16px;
  }
  main .content .reviews {
    padding: 16px 16px 24px;
  }
  main .content .reviews__title {
    margin-bottom: 24px;
  }
  main .content .reviews__list {
    row-gap: 20px;
  }
  main .content .reviews__btn {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
  }
  main .content .reviews .review__image {
    width: 44px;
    height: 44px;
  }
  main .content .reviews .review__header {
    margin-bottom: 16px;
  }
  main .content .reviews .review__author .name {
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
  }
  main .content .reviews .review__author .position {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
  }
  main .content .reviews .review__data .date {
    font-size: 12px;
    line-height: 15px;
  }
  main .content .reviews .review__text {
    font-size: 12px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
  main .content .catalogue__links {
    height: 20px;
  }
  main .content .catalogue__links .link {
    font-size: 14px;
    line-height: 18px;
  }
  main .content .catalogue__cards {
    gap: 20px;
  }
  main .content .catalogue .card {
    width: 240px;
    height: 285px;
    padding: 16px;
  }
  main .content .catalogue .card__title {
    font-size: 16px;
    line-height: 20px;
  }
  main .content .catalogue .card__subtitle {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
  }
  main .content .catalogue .card__image img {
    max-height: 100px;
  }
  main .content .catalogue .card__specification {
    margin: 40px 0 24px;
  }
  main .content .catalogue .card__specification .specification {
    font-size: 12px;
    line-height: 15px;
  }
  main .content .catalogue .card__rent .price {
    font-size: 16px;
    line-height: 20px;
  }
  main .content .catalogue .card__rent .price span {
    font-size: 12px;
    line-height: 15px;
  }
  main .content .catalogue .card__rent .button {
    width: 100px;
    height: 36px;
    font-size: 12px;
    line-height: 15px;
  }
  footer {
    --bs-bg-opacity: 0 !important;
    --gray-footer: #90A3BF;
    --dark--footer: #1A202C;
  }
  footer .brand .text {
    font-weight: 500;
    font-size: 12px;
  }
  footer .bottom-text {
    font-size: 12px;
  }
  footer .bottom-text.copyright {
    width: 100%;
    margin-top: 32px;
  }
  .logo {
    font-size: 1.5rem;
  }
  .stars {
    font-size: 10px;
  }
}
@media screen and (max-width: 575px) {
  main .content .preview .images__preview img {
    height: 60px;
  }
  main .content .preview .images__item {
    height: 64px;
    width: 64px;
  }
  footer .links__list:nth-child(2) {
    flex-basis: 200px;
  }
  footer .links__list:nth-child(3) {
    flex-basis: 110px;
  }
}/*# sourceMappingURL=main.css.map */