@import "variables";
@import "bootstrap";

*::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
*::-webkit-scrollbar-track {
  background: $secondary-light;
}
*::-webkit-scrollbar-thumb {
  background: $gray;
  border-radius: 5px;
  border: 1px solid transparent;
}

html,
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-size: 16px;
  color: $dark;
  background: #f6f7f9;
}

.container-xxl {
  margin: 0 auto;
  background: $white;
}

header {
  .navbar-toggler {
    height: 40px;
    width: 40px;
    margin-bottom: 30px;
    border: 2px solid transparent;
    color: $secondary;
    font-size: 32px;
    transition: 0.3s;
    &:focus {
      border: 2px solid $gray;
    }
  }
  .search {
    height: 44px;
    input {
      border: 1px solid rgba(195, 212, 233, 0.4);
      border-radius: 70px !important;
      font-size: 14px;
      font-weight: 500;
      color: $dark;
      &::placeholder {
        color: $secondary;
      }
      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }

    .bi {
      color: $secondary;
      font-size: 24px;
      z-index: 10;
    }
  }

  .nav {
    column-gap: 20px;
    .nav-link {
      width: 44px;
      height: 44px;
      color: $secondary;
      border: 1px solid #c3d4e966;
      &:hover {
        background: #d1ecfc63;
      }
      .red-dot {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: $red;
      }
    }
  }
}

main {
  .sidebar {
    width: 360px;
    border-right: 1px solid #f3f5f7;
    row-gap: 56px;
    .btn-close {
      font-size: 1.5rem;
    }
    .filter {
      .title {
        font-size: 0.75rem;
        color: #94a7cb;
        margin-bottom: 28px;
      }
      .list {
        list-style-type: none;
        row-gap: 32px;
      }
      .filter-item {
        font-size: 1.25rem;
        color: $secondary;
        input:checked {
          background-color: $primary;
          border-color: $primary;
        }
        span {
          color: $gray;
        }
      }
      .range {
        input {
          &::-webkit-slider-runnable-track {
            height: 12px;
            background: $secondary-light;
          }
          &::-webkit-slider-thumb {
            width: 20px;
            height: 20px;
            border: 3px solid $white;
            background: $primary;
          }
        }
      }
    }
  }

  .content {
    width: 100%;
    background: #f6f7f9;
    gap: 32px;
    .preview {
      gap: 2rem;
      .images {
        row-gap: 24px;
        .bg {
          width: 100%;
          height: 100%;
          padding: 24px;
          background-size: cover;
          background-position: center;
          .title {
            font-weight: 600;
            font-size: 32px;
            color: $white;
            max-width: 89%;
          }
          .description {
            font-weight: 500;
            font-size: 16px;
            color: $white;
          }
        }

        &__item {
          width: 125px;
          height: 125px;
          border: 0 solid $primary;
          transition: 0.3s;
          cursor: pointer;
          .bg {
            padding: 0 6px;
            .text {
              display: none;
            }
          }
          &.active {
            border: 2px solid $primary;
            padding: 8px !important;
            .bg {
              border-radius: inherit;
            }
          }
        }
      }

      .info {
        padding: 24px 24px 32px;
        &__header {
          .title {
            font-size: 32px;
            font-weight: 700;
            color: $dark;
          }
          .reviewer {
            font-size: 14px;
            font-weight: 500;
            color: $secondary;
          }
        }

        &__description {
          margin: 32px 0;
          font-weight: 400;
          font-size: 20px;
          line-height: 200%;
          letter-spacing: -0.02em;
          color: $secondary;
        }

        &__specification {
          font-size: 20px;
          line-height: 25px;
          row-gap: 1rem;
          margin-bottom: 4rem;
          .name {
            font-weight: 400;
            color: $gray;
            text-align: start;
          }
          .value {
            font-weight: 600;
            color: $secondary;
            text-align: end;
          }
        }

        &__rent {
          .price {
            .primary {
              font-weight: 700;
              font-size: 28px;
              line-height: 35px;
              color: $dark;
            }
            .secondary {
              font-weight: 700;
              font-size: 16px;
              line-height: 20px;
              color: $gray;
            }
          }

          .button {
            width: 140px;
            height: 56px;
            font-size: 17px;
            font-weight: 700;
            color: $white;
          }
        }
      }
    }

    .reviews {
      padding: 24px;
      &__title {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        margin-bottom: 32px;
        .badge {
          width: 44px;
          height: 28px;
          font-size: 14px;
          font-weight: 700;
          margin-left: 12px;
        }
      }
      &__list {
        list-style: none;
        row-gap: 24px;
      }
      &__btn {
        width: fit-content;
        font-weight: 600;
        font-size: 16px;
        line-height: 20px;
        color: $gray;
        .bi {
          transition: 0.15s;
        }
        &[aria-expanded="false"] {
          .bi {
            transform: rotate(0deg);
          }
          &::before {
            content: "Show All";
          }
        }
        &[aria-expanded="true"] {
          .bi {
            transform: rotate(180deg);
          }
          &::before {
            content: "Hide All";
          }
        }
      }
      .review {
        &__image {
          width: 56px;
          height: 56px;
        }
        &__header {
          margin-bottom: 12px;
        }
        &__author {
          .name {
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
          }
          .position {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: $gray;
          }
        }
        &__data {
          .date {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: $gray;
          }
        }
        &__text {
          font-weight: 400;
          font-size: 14px;
          line-height: 200%;
          color: $secondary;
        }
      }
    }

    .catalogue {
      &__links {
        height: 44px;
        .link {
          font-weight: 600;
          font-size: 16px;
          line-height: 20px;
          color: $gray;
        }
      }
      &__cards {
        gap: 32px;
      }
      .card {
        height: 380px;
        padding: 24px;
        flex-shrink: 0 !important;
        flex-basis: 0 !important;
        &__title {
          font-weight: 700;
          font-size: 20px;
          line-height: 25px;
        }
        &__subtitle {
          font-weight: 700;
          font-size: 14px;
          line-height: 18px;
          color: $gray;
        }
        &__specification {
          margin: 40px 0 32px;
          .specification {
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;
            color: $gray;
          }
        }
        &__rent {
          .price {
            font-weight: 700;
            font-size: 20px;
            line-height: 25px;
            span {
              font-size: 14px;
              line-height: 18px;
              color: $gray;
            }
          }
          .button {
            width: 116px;
            height: 44px;
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
          }
        }
      }

      .shadow {
        display: none;
        box-shadow: none!important;
        pointer-events: none;
        background: linear-gradient(to right, transparent, $white);
          width: 90px;
          z-index: 10;
          bottom: 0;
          transition: 0.15s;
          &.left {
            transform: scaleX(-1);
            left: -24px;
            opacity: 0;
          }
          &.right {
            right: -24px;
            opacity: 1;
          }
      }
    }
  }
}

footer {
  --gray-footer: #{$gray-footer};
  --dark-footer: #{$dark-footer};
  .container-xxl {
    padding: 80px 60px 60px;
    background: inherit;
  }
  .brand {
    .text {
      max-width: 292px;
      font-weight: 500;
      font-size: 16px;
      line-height: 200%;
      color: var(--gray-footer);
    }
  }
  .links {
    gap: 48px 60px;
    &__list {
      width: 152px;
    }
    &__title {
      font-weight: 600;
      font-size: 20px;
      line-height: 120%;
      color: var(--dark-footer);
    }
    &__item {
      font-weight: 500;
      font-size: 16px;
      line-height: 120%;
      color: var(--gray-footer);
      cursor: pointer;
      &:not(:last-child) {
        margin-bottom: 1em;
      }
      &:hover {
        filter: drop-shadow(1px 1px 1px $gray);
      }
    }
  }
  hr {
    background-color: var(--dark-footer);
    margin-top: 60px;
  }
  .bottom-text {
    font-weight: 600;
    font-size: 16px;
    line-height: 200%;
    margin-bottom: 0;
    color: var(--dark-footer);
    a {
      color: inherit;
      text-decoration: none;
      &:hover {
        filter: drop-shadow(1px 1px 1px $gray);
      }
    }
  }
  .bottom-links {
    column-gap: 68px;
  }
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: $primary;
}
.button {
  cursor: pointer;
  transition: 0.35s;
  &:active {
    scale: 0.8;
  }
}
.heart-icon {
  font-size: 17px;
  color: $red;
  cursor: pointer;
  transition: 0.35s;
  &:active {
    transform: scale(1.2);
  }
  &.bi-heart {
    color: $gray;
  }
}
.stars {
  display: inline-flex;
  list-style: none;
  gap: 5px;
  .bi {
    cursor: pointer;
  }
  .bi-star-fill {
    color: #fbad39;
  }
  .bi-star {
    color: $secondary-light;
  }
}

@media screen and (max-width: 1399px) {
  main {
    .sidebar {
      width: 210px;
      .filter {
        .filter-item {
          font-size: 1rem;
        }
      }
    }

    .content {
      .preview .images__item {
        width: 100px;
        height: 100px;
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  main {
    .sidebar {
      width: 50% !important;
      .filter .filter-item {
        font-size: 1.25rem;
      }
    }
  }
}
@media screen and (max-width: 991px) {
  header {
    & > .container-xxl {
      padding-left: 24px !important;
      padding-right: 24px !important;
    }

    .search {
      input {
        border-radius: 10px !important;
      }
      .bi-sliders {
        position: static !important;
        width: 48px;
        height: 48px;
        line-height: 44px;
        border: 1px solid rgba(195, 212, 233, 0.4);
        text-align: center;
        transform: none !important;
      }
    }
  }

  main {
    .content {
      padding-left: 24px !important;
      padding-right: 24px !important;
      .images {
        &__preview {
          height: 415px;
        }
        &__list {
          gap: 20px;
        }
      }

      .catalogue {
        position: relative;
        &__cards {
          overflow-x: auto;
          margin: 0 -24px;
          &::-webkit-scrollbar {
            display: none;
          }
          .card {
            flex-basis: 300px !important;
            &:first-child {
              margin-left: 20px;
            }
            &:last-child {
              margin-right: 20px;
            }
          }
        }

        .shadow {
          display: block;
          position: absolute;
          height: 380px;
        }
      }
    }
  }

  footer {
    .container-xxl {
      padding: 12px 24px 40px;
    }
    .links__list {
      width: unset;
    }
  }
}
@media screen and (max-width: 767px) {
  header {
    .navbar-toggler {
      width: 25px;
      height: 25px;
      margin-bottom: 25px;
      font-size: 20px;
    }
    .nav .nav-link {
      width: 28px;
      height: 28px;
      img {
        vertical-align: baseline;
      }
    }
  }

  main {
    .sidebar {
      width: 75% !important;
      .filter .filter-item {
        font-size: 1rem;
      }
      .btn-close {
        font-size: 1rem;
      }
    }

    .content {
      .preview {
        .images {
          &__preview {
            height: 235px;
            img {
              height: 100px;
            }
          }
          .bg .title {
            font-size: 16px;
          }
          .bg .description {
            font-size: 12px;
          }
        }

        .info {
          padding: 16px;
          &__header {
            .title {
              font-size: 20px;
            }
            .reviewer {
              font-size: 12px;
            }
          }
          &__description {
            margin: 16px 0;
            font-size: 12px;
            line-height: 20px;
          }
          &__specification {
            font-size: 12px;
            margin-bottom: 2rem;
            .name {
              font-weight: 500;
            }
          }
          &__rent {
            .price {
              .primary {
                font-size: 20px;
              }
              .secondary {
                font-size: 12px;
              }
            }
            .button {
              font-size: 16px;
            }
          }
        }
      }

      .reviews {
        padding: 16px 16px 24px;
        &__title {
          margin-bottom: 24px;
        }
        &__list {
          row-gap: 20px;
        }
        &__btn {
          font-weight: 500;
          font-size: 14px;
          line-height: 18px;
        }
        .review {
          &__image {
            width: 44px;
            height: 44px;
          }
          &__header {
            margin-bottom: 16px;
          }
          &__author {
            .name {
              font-weight: 600;
              font-size: 16px;
              line-height: 20px;
            }
            .position {
              font-weight: 400;
              font-size: 12px;
              line-height: 15px;
            }
          }
          &__data {
            .date {
              font-size: 12px;
              line-height: 15px;
            }
          }
          &__text {
            font-size: 12px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
          }
        }
      }

      .catalogue {
        &__links {
          height: 20px;
          .link {
            font-size: 14px;
            line-height: 18px;
          }
        }
        &__cards {
          gap: 20px;
        }
        .card {
          width: 240px;
          height: 285px;
          padding: 16px;
          &__title {
            font-size: 16px;
            line-height: 20px;
          }
          &__subtitle {
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
          }
          &__image {
            img {
              max-height: 100px;
            }
          }
          &__specification {
            margin: 40px 0 24px;
            .specification {
              font-size: 12px;
              line-height: 15px;
            }
          }
          &__rent {
            .price {
              font-size: 16px;
              line-height: 20px;
              span {
                font-size: 12px;
                line-height: 15px;
              }
            }
            .button {
              width: 100px;
              height: 36px;
              font-size: 12px;
              line-height: 15px;
            }
          }
        }
        .shadow {
          height: 285px;
        }
      }
    }
  }

  footer {
    --bs-bg-opacity: 0 !important;
    --gray-footer: #{$gray};
    --dark--footer: #{$dark};
    .brand {
      .text {
        font-weight: 500;
        font-size: 12px;
      }
    }
    .bottom-text {
      font-size: 12px;
      &.copyright {
        width: 100%;
        margin-top: 32px;
      }
    }
  }

  .logo {
    font-size: 1.5rem;
  }
  .stars {
    font-size: 10px;
  }
}
@media screen and (max-width: 575px) {
  main {
    .content .preview .images {
      &__preview img {
        height: 60px;
      }
      &__item {
        height: 64px;
        width: 64px;
      }
    }
  }

  footer {
    .links__list {
      &:nth-child(2) {
        flex-basis: 200px;
      }
      &:nth-child(3) {
        flex-basis: 110px;
      }
    }
  }
}
