@import "variables";
@import "bootstrap";

html,
body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background: #f6f7f9;
}

.container-xxl {
  margin: 0 auto;
  background: $white;
}

header {
  .navbar-toggler {
    height: 40px;
    width: 40px;
    margin-bottom: 30px;
    border: 2px solid transparent;
    color: $secondary;
    font-size: 32px;
    transition: 0.3s;
    &:focus {
      border: 2px solid $gray;
    }
  }
  .search {
    height: 44px;
    input {
      border: 1px solid rgba(195, 212, 233, 0.4);
      border-radius: 70px !important;
      font-size: 14px;
      font-weight: 500;
      color: $dark;
      &::placeholder {
        color: $secondary;
      }
      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }

    .bi {
      color: $secondary;
      font-size: 24px;
      z-index: 10;
    }
  }

  .nav {
    column-gap: 20px;
    .nav-link {
      width: 44px;
      height: 44px;
      color: $secondary;
      border: 1px solid #c3d4e966;
      &:hover {
        background: #d1ecfc63;
      }
      .red-dot {
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background: $red;
      }
    }
  }
}

main {
  .sidebar {
    width: 360px;
    border-right: 1px solid #f3f5f7;
    row-gap: 56px;
    .btn-close {
      font-size: 1.5rem;
    }
    .filter {
      .title {
        font-size: 0.75rem;
        color: #94a7cb;
        margin-bottom: 28px;
      }
      .list {
        list-style-type: none;
        row-gap: 32px;
      }
      .filter-item {
        font-size: 1.25rem;
        color: $secondary;
        input:checked {
          background-color: $primary;
          border-color: $primary;
        }
        span {
          color: $gray;
        }
      }
      .range {
        input {
          &::-webkit-slider-runnable-track {
            height: 12px;
            background: $secondary-light;
          }
          &::-webkit-slider-thumb {
            width: 20px;
            height: 20px;
            border: 3px solid $white;
            background: $primary;
          }
        }
      }
    }
  }

  .content {
    background: #f6f7f9;
    .preview {
      column-gap: 2rem;
      .images {
        row-gap: 24px;
        .bg {
          width: 100%;
          height: 100%;
          padding: 24px;
          background-size: cover;
          background-position: center;
          .title {
            font-weight: 600;
            font-size: 32px;
            color: $white;
            max-width: 89%;
          }
          .description {
            font-weight: 500;
            font-size: 16px;
            color: $white;
          }
        }

        &__item {
          width: 125px;
          height: 125px;
          border: 0 solid $primary;
          transition: 0.3s;
          cursor: pointer;
          .bg {
            padding: 0 6px;
            .text {
              display: none;
            }
          }
          &.active {
            border: 2px solid $primary;
            padding: 8px !important;
            .bg {
              border-radius: inherit;
            }
          }
        }
      }

      .info {
        padding: 24px 24px 32px;
        &__header {
          .title {
            font-size: 32px;
            font-weight: 700;
            color: $dark;
          }
          .reviewer {
            font-size: 14px;
            font-weight: 500;
            color: $secondary;
          }
        }

        &__description {
          margin: 32px 0;
          font-weight: 400;
          font-size: 20px;
          line-height: 200%;
          letter-spacing: -0.02em;
          color: $secondary;
        }

        &__specification {
          font-size: 20px;
          line-height: 25px;
          row-gap: 1rem;
          margin-bottom: 4rem;
          .name {
            font-weight: 400;
            color: $gray;
            text-align: start;
          }
          .value {
            font-weight: 600;
            color: $secondary;
            text-align: end;
          }
        }

        &__rent {
          .price {
            .primary {
              font-weight: 700;
              font-size: 28px;
              line-height: 35px;
              color: $dark;
            }
            .secondary {
              font-weight: 700;
              font-size: 16px;
              line-height: 20px;
              color: $gray;
            }
          }

          .button {
            width: 140px;
            height: 56px;
            font-size: 17px;
            font-weight: 700;
            color: $white;
          }
        }
      }
    }
  }
}

.logo {
  font-size: 2rem;
  font-weight: 700;
  color: $primary;
}
.button {
  cursor: pointer;
  transition: 0.5s;
  &:active {
    scale: 0.8;
  }
}
.heart-icon {
  font-size: 17px;
  color: $red;
}
.stars {
  display: inline-flex;
  list-style: none;
  gap: 5px;
  .bi-star-fill {
    color: #fbad39;
  }
  .bi-star {
    color: $secondary-light;
  }
}

@media screen and (max-width: 1399px) {
  main {
    .sidebar {
      width: 210px;
      .filter {
        .filter-item {
          font-size: 1rem;
        }
      }
    }

    .content {
      .preview .images__item {
        width: 100px;
        height: 100px;
      }
    }
  }
}
@media screen and (max-width: 1199px) {
  main {
    .sidebar {
      width: 50%!important;
      .filter .filter-item {
        font-size: 1.25rem;
      }
    }
  }
}